.fileUploadHidden {
  display: none;
}

.fileUpload {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.fileUploadTextDiv {
  background-color: #e8e8e8;
  width: 85%;
  border-radius: 10px;
  border: 1px solid black;
}

.uploadButton {
  padding: 70px;
}

.fileUploadTextDiv p {
  margin-left: 20px;
}

.uploadDiv {
  width: 80%;
  margin: 40px auto;
}

.uploadDiv button {
  padding: 15px;
}

.UploadPage {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.leftLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20%;
}

.rightLinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
}

a {
  text-decoration: none;
  color: white;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 40px;
}

.Login {
  width: 40%;
  margin: 50px auto;
  padding: 50px;
  background-color: #e8e8e8;
  border-radius: 30px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm .input {
  margin: 15px 0;
}

.LoginForm .text {
  background-color: white;
  border-radius: 5px;
}

.LoginForm .button {
  padding: 10px;
}

.loading {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.projectItem {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  color: #333;
}

.projectItem h2 {
  margin: 5px 0;
}

.projectItem p {
  margin-top: 30px;
}

.previousProjects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.uploadVideoBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 80%;
}

.ImageSettings {
  width: 90%;
}

.uploadNext {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.textPositionContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 50%;
}

.textPositionContainer .imageText {
  margin: 20px 30px;
  width: 40%;
}

.UploadVideo {
  width: 100%;
}

.buttonChooseFile {
  text-align: center;
  margin-left: 20px;
}

.uploadingVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoUploaded {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.uploadedButtons {
  display: flex;
  justify-content: space-around;
}

.processingIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.processingIndicator p {
  margin: 10px;
}

.maxFile {
  margin-left: 10%;
}

.MuiAccordion-rounded {
  background-color: #e8e8e8 !important;
}
